.c-btn {
  width: 46px;
  height: 65px;
  overflow: hidden;

  background: no-repeat url("../../assets/buttons/command-buttons.png")
    transparent;

  cursor: pointer;

  &:hover {
    background: no-repeat url("../../assets/buttons/command-buttons-hover.png")
      transparent;
  }

  &:active {
    background: no-repeat url("../../assets/buttons/command-buttons-active.png")
      transparent;
  }

  &.c-btn-left {
    background-position: 0;
  }

  &.c-btn-middle {
    width: 62px;

    background-position: -84px 0;
  }

  &.c-btn-right {
    background-position: -180px 0;
  }
}
